body{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:white;
background-color: black;
margin:30px;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: .10em solid rgb(255, 255, 255);
    animation: typing 2s steps(20);
}

@keyframes typing {
    from { width: 0 }
    to { width: 15% }
}


.middleTitle{
text-align: center;
}
.lineDetail {
padding:1px;
height:1px;
width:4rem;
background-color: #747272; 

}

h1{
font-size:53px;
margin:10rem 0px;
}



.project-gallery{
position:relative;
display:grid;
grid-template-columns: repeat(3, 1fr);
grid-gap:65px;
width:50%;
align-items: center;
text-align: center;
}
    .circular-image {
    width: 350px; /* Adjust the size as needed */
    height: 350px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; /* Ensures the image stays within the circular frame */
    align-items: center;
    }
        .circular-image img {
        width: 100%; /* Ensures the image fills the circular frame */
        height: 100%; /* Ensures the image fills the circular frame */
        object-fit: cover; /* Ensures the entire image is visible */
        }

    #project{
    background-color: rgba(255, 255, 255, 0.911);
    color: black;
    align-items: center;
    }       
    #project p, h3{text-align: center;}
    .button-container{text-align: center;}
        button{
        margin: 10px;
        padding: 10px;
        border: solid 3px black;
        }

#contact-me{text-align: center;}
label{margin: 10px;}



#aboutMe{
width: 70%;
position:block;
float: left;
text-align: left;
margin-bottom:5rem;
}
.aboutMeTitle{
text-align:left;
}
.profileIMG{
position:block;
width:9rem;
float: right;
margin-top:8rem;
}

#FindMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #1e1d1d;
}

.FindMeTitle {
    margin: 0;
}

.iconsDiv {
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.iconsDiv a {margin-left: 10px;}
.iconsDiv a:first-child {margin-left: 35rem; }
.iconsDiv a:last-child {margin-right: 0;}
i{margin-left:4rem}
.profileIMGPhone{display:none;}
@media only screen and (max-width:750px){
    body{margin:5px;}
    h1{
    font-size:4rem;
    margin:2rem;
    }
    .project-gallery{grid-template-columns: repeat(1, 1fr);}
    .circular-image {
    position: relative;
    margin:1rem 2rem;
    width: 150px; 
    height: 150px; 
    }
    #project{
    margin:1.1rem;
    width:140%;
    }       
    #project p, h3{ margin:10px; font-size: 13px;}
    #contact-me{margin: 10px;}
    #aboutMe{
        margin:10px;
        width: 90%;
        position:block;
        float: left;
        text-align: left;
        margin-bottom:2rem;
        }
        .profileIMG{
        display: none;
        }
        .FindMeTitle {margin: 0;}
        .iconsDiv a {margin-left: 0px;}
        .iconsDiv a:first-child { margin-left: 0rem; }
        .iconsDiv a:last-child {margin-right: 0; }
        i{margin-left:0.4rem;}
        .profileIMGPhone{display: block;width:100%;}
}